.containers{
  /* background-color: red; */
  max-width: 1200px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  backdrop-filter: blur(10px);
}
.left{
  min-width: 50%;
  display: flex;
  /* background-color: red; */
  /* background-color: fuchsia; */
  align-items: center;
  justify-content: center;
}
.left img{
  max-width: 90%;
  /* background-color: red; */
}
.rights{
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rebeccapurple; */
}
.form_main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}
.form_main .heading{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 10px 0;
}
.form_main>p{
  color: gray;
  text-align: center;
  margin-bottom: 20px;
}
.inputContainer {
  width: 100%;
  padding: 5px 10px;
  flex-direction: column;
  background-color: white;
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: center;
 
}
.inputContainer input{
  width: 100%;
  background-color: transparent ;
 
}
#button{
 text-align: center;
 min-width: 90vw;
  height: 35px;
  align-self: center;
  background-color: #9796F0;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;

  margin: 10px;
}
.signupContainer{
justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.signupContainer p{
  font-size: 1.2rem;
  margin: 10px 0;
}
.signupContainer a{
    width: 90%;
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #BBD2C5;
    border: none;
    box-shadow: 1px 1px 1px 2px gray ;
    border-radius: 5px;
  
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.inputContainer input{
  font-size: 1rem;
}

@media only screen and (max-width:850px) {

  .containers{
    flex-direction: column;
  }
  .container{
    flex-direction: column;
  }
 

}

@media only screen and (max-width:700px) {


  .form_main .inputContainer{
    width: 100vw;
  }

}
@media only screen and (max-width:600px) {


 .form_main #button{
  
    width:90vw;
  }

}