.navcontainer{
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  padding: 10px 0 ;
  

  /* background-color: rebeccapurple; */
}
.logo h1{
  background-clip: text;
  background-image: linear-gradient(to right, #BBD2C5, #536976);
  color: transparent;
}


.navcontainer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
ul li{
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 2px;
  padding: 1px 4px ;
  position: relative;
  font-size: 1.12rem;
  padding: 5px 10px;
}
ul li a{
 text-decoration: none;
 color: black;
}
.login,.logout{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  background-image: linear-gradient(to right, #BBD2C5, #536976);
}

li::before{
  content: "";
  bottom: 0 ;
  left: 0;
  position: absolute;
  width: 0;
  background-image: linear-gradient(to right, #BBD2C5, #536976);
  height: 3px;
}

li:hover::before{
  width: 100%;
  height: 3px;
 transition: all .6s;
}
@media only screen and (max-width:600px) {
   .navcontainer{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 50px; 
    overflow: hidden;
   } 

   ul{
    flex-direction: column;
   margin-bottom: 15px;
   overflow: auto;
   }
   .navcontainer:hover{
    height: 400px;
    
}
}

