.container {
    padding: 30px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 0;
  }
  .head{
    margin-top: 30px;
    width: auto;
    height: 20vh;
    background-image: linear-gradient(to right, #BBD2C5, #536976);
  }
  
  .heading {
    color: white;
    margin-top: 40px;
    white-space: 20px;
    letter-spacing: 20px;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  .toolbar {
    width: 100%;
    height: 90px;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    /* padding: 20px auto; */
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(to top, #BBD2C5, #536976);
  }
  
  .colors {
    display: flex;
    gap: 20px;
    height: 40px;
    align-items: center;
    padding: 0 30px;
    /* background-color: red; */
    /* backdrop-filter: blur(70px); */
  }
  
  .colors .color {
    height: 36px;
   
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: #239ce2; */
  }
  .colors .active {
    border: 2px solid #fffefe;
  }
  
  .toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #BBD2C5;
    color: black;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }
  
  .toolbar button svg {
    height: 20px;
    width: 20px;
  }
  
  .main {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }


  @media only screen and (max-width:900px) {

    .head{
      margin-top: 20px;
    }
    .toolbar{
      flex-direction: column;
    }
   
  }