.Container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    /* height: 70vh; */
   max-width: 25%;
   margin: 10px 30px ;
}
.Container img{
    border-radius: 10px;
}
.Container p{
    font-size: 1.1rem;
   text-align: justify;
    font-weight: 300;
}
.Container h2{
    text-transform: capitalize;
   text-align: center;
}
.FlexBox{
    display: flex;
    background-color: #bbd2c50b;
   min-height: 70vh;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

@media only screen and (max-width:800px){
    .FlexBox{
        /* overflow: hidden; */
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
        /* flex: 1; */
    }
    .Container h2{
       width: 300px;
    }
    .Container p{
       width: 300px;
    }
}
@media only screen and (min-width:1000px){
    .FlexBox{
        height: 90vh;
        /* flex-direction: column;
        justify-content: space-around; */
    }
    .Container h2{
       width: 300px;
    }
    .Container p{
       width: 300px;
    }
}
