.container {
    padding: 50px 30px;
    /* text-align: center; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    /* background-color: rgb(238, 252, 255); */
    min-height: 85vh;
    border-bottom: 1px solid rgb(238, 252, 255);
  }
  
  .heading {
  
    /* text-align: start; */
    margin: 10px auto;
    max-width: 450px;
    color: #4E4D4D;
    /* color: #000; */
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  /* p{
    color: pink;
  } */
  .left h2{
    font-size: 2.5rem;
    width: 450px;
    /* text-align: start; */
  }
  .left {
    /* background-color: red; */
    padding: 10px;
    /* width:  300px; */
  }
  
  span {
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #1369b9);
    color: transparent;
  }

  .btns{
    width: 250px;
    height: 40px;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-image:  linear-gradient(to right, #239ce2, #1369b9);
  }
  
 
  
  .right img {
    width: 400px;
  }

  @media only screen and (max-width: 600px){

    .container {

      flex-direction: column-reverse;
      text-align: center;

    }
    
  }